body {
  font: 16px "Futura PT", sans-serif;
  background-color: #fff;
  color: #1d222c;
}
h1,
h2,
p,
ul {
  line-height: 1.2;
  margin-bottom: 12px;
}
p,
li {
  font-size: 0.9em;
  line-height: 1.5;
}
ul {
  padding: 0;
}
.inline li {
  display: inline-block;
  margin-right: 12px;
}
header {
  background-color: #fff;
  margin: 72px auto;
  max-width: 1000px;
}
header h1 {
  margin: 0 12px;
  font-size: 4rem;
  font-weight: 600;
}
header h2 {
  font-weight: 300;
  margin: 0 12px;
}
@media (min-width: 600px) {
  header header {
    display: flex;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}
.wrapper #movies-list {
  margin: 0 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 350px));
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}
.wrapper .movie-card {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.wrapper .movie-card h1,
.wrapper .movie-card strong {
  color: #1d222c;
}
.wrapper .movie-card .year {
  font-size: 0.75em;
  color: darkgray;
}
.wrapper .movie-card .movie-poster {
  position: relative;
  display: flex;
  width: 100%;
  transform: translateZ(0);
}
.wrapper .movie-card .poster-fill {
  position: absolute;
  overflow: hidden;
  top: -80%;
  bottom: -20%;
  left: -20%;
  width: 150%;
  height: 150%;
}
.wrapper .movie-card .poster-fill img {
  filter: blur(3px);
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
}
.wrapper .movie-card .poster-featured {
  position: relative;
  display: block;
  align-self: center;
  margin-top: 48px;
  margin-left: 24px;
  width: 140px;
  background-color: lightgray;
  border-radius: 2px;
  z-index: 1;
}
.wrapper .movie-card .poster-featured img {
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.6) 0 6px 12px -6px;
}
.wrapper .movie-card .poster-featured img[src="N/A"] {
  min-height: 206px;
  opacity: 0;
}
.wrapper .movie-card .trailer {
  position: absolute;
  right: 24px;
  top: 139px;
}
.wrapper .movie-card .trailer .hide {
  display: none;
}
.wrapper .movie-card .trailer button {
  position: relative;
  font-size: 4rem;
  border: none;
  background: none;
}
.wrapper .movie-card .trailer button img {
  width: 48px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
}
.wrapper .movie-card .trailer button img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.wrapper .movie-card .movie-details {
  padding: 24px;
}
.wrapper .movie-card .movie-info p:last-child {
  margin-block-end: 0;
}
.wrapper .movie-card .title {
  margin: 0;
  font-size: 2em;
}
